/* Header */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgoldenrodyellow; */
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
  /* background-color: lightgray; */
}

.logoCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #EEEBFF;
  color: #4338CA;

  padding: 2rem;
  border-radius: 50%;
  transform: matrix(0.87, 0.49, -0.51, 0.86, 0, 0);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav {
  display: flex;
  gap: 5rem;
}

.nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
  text-decoration: none;
  padding: 0.75rem 2rem;
}
.background {
  border-radius: 6px;
  border: 1px solid #3730A3;
  background-color: #FFFFFF;
}
.background p {
  color: #3730A3;
  font-weight: 500;
}



/* Header End*/
