/* ModeSwitch Part */

.modeSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgoldenrodyellow; */
}
.mode {
  padding-top: 1.5rem;
  display: flex;
  gap: 1rem;
  max-width: 90%;
  width: 80%;
  align-items: center;
  justify-content: right;
  /* background-color: lightgray; */
}
.modeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #777777;
}

.modeText span {
  cursor: pointer;
}

#lang {
  color: #4338CA;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.toggle-switch-checkbox {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 3px;
  bottom: 0;
  background-color: #4338CA;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #ffe86e;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-checkbox:checked + .slider {
  background-color: #3a3a3a;
}

.toggle-switch-checkbox:checked + .slider:before {
  transform: translateX(26px); /* transform değeri değiştirildi */
}

/* ModeSwitch Ends*/
