/* Projects */
.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  /* background-color: lightgoldenrodyellow; */
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-top: 1px solid #4338CA;
  /* background-color: lightgray; */
}
.projectCol {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.cards {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* max-width: 27%;
  margin-top: 2rem; */
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin-top: 2rem;
  /* margin-right: 2rem; */
}
.programs {
  display: flex;
  gap: 10px;
}
.programs p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 18px 7px;
  border: 1px solid #4338CA;
  border-radius: 4px;
  color: #4338CA;
  font-weight: 500;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  margin-top: 2rem;
}
.description-project {
  margin-bottom: 2rem;
}
.links a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #4338CA;
}
/* Projects End */
